@model ApiProto.HomeModel
@{
    ViewBag.Title = "API Test Page";
}

<h2>API Home Page</h2>

<p>BlobEndpoint: <b>@Model.BlobEndpoint</b></p>
<p>Container: <b>@Model.Container</b></p>

<a href="public/test.html">Test Page</a>